.header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil{
    height: 32vmin;
    border-radius: 50%;
}

.about{
    width: 60vw;
}
.header h1{
    color: white;
    font-size: 3rem;
    margin-top: 0;
    text-align: start;
    /* width: 70vw; */
}

.header h2{
    color: #8892B0;
    text-align: start;
    /* width: 70vw; */
}

.header h3{
    color: #8892B0;
    text-align: start;
    /* width: 70vw; */
}

.icons-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /* gap: 1rem; */
    /* margin: 1rem; */
    /* margin-right: 5rem; */
    align-self: flex-end;
    position: relative;
    width: 90vw;
}
.RRSS-container{
    align-self: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 16vmin;
}
.icon{
    height: 4vmin;
}
.icon-container:hover .icon{
    transform: translateY(-8px);
    transition-duration: 500ms;
    transition-property: transform;
}
.icon-container:hover::after .icon{
    transform: translateY(8px);
    transition-duration: 500ms;
}
.logo-container{
    align-self: flex-start;
}
.logo{
    height: 32vmin;

}