@import "./components/header.css";
@import "./components/projects.css";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-color: #0A192F;
}


